


.videogular-container {
    width: 50%;
    height: 50%;
    margin: auto;
    overflow: hidden;
    display: inline-block;
    position: relative;
   // right: 25%;
}
.video-list {
    
}
.main {
  width: 100%;
  height: 100%;  
}
.video-main{
    display: flex;
    flex-wrap: wrap;
}
#overlay {
    
   // position: absolute; /* Sit on top of the page content */
    display: inline-block; /* Hidden by default */
    width: 50%; /* Full width (cover the whole page) */
    
   
   
    background-image: repeating-linear-gradient(to bottom, rgba(0,0,0,0.5), hsl(0, 100%, 53%),  transparent 1px, 
    transparent 3rem);//linear-gradient(to right,rgb(238, 22, 22), transparent 1rem );
   // background-position: 0 2rem;
  
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    position: relative;
    cursor: pointer; /* Add a pointer on hover */
  }

  
  
.vertical-line{ 
  border-left: 2px solid rgb(7, 8, 7);
  //border-left: 2px solid rgb(7, 8, 7);
  height: 100%;
 // margin-left: 90%;
  position: relative;
  left: 3em;
  //right: 90%;
  //margin-left: -3px;
  top: 0;
  width: 1%;
    
  }
/*.text {
      font-size: 1em;
      margin: 0%;
      padding: 0%;
      line-height: 1em;
      width: 13%;
      height: 0%;
      
     
  }
 li {
    padding-top: 2em;
   
    
 }*/
 canvas {
    border: 3px solid black;
   
    width: 94%;
    height: 99%;
    margin-left: 5%;
    border-bottom: none;
    //position: absolute;
  }

.col-container {
    column-width: 1em;
    column-rule: 1px solid rgb(75, 70, 74);
}

.companyName{
  font-size: 150%;
}

.mat-toolbar{
  height: 7vh;
}

div {
 // overflow: inherit;
}

.mat-sidenav-container{
//background-color: lightskyblue;
min-height: 93vh !important;

}

.file-dec{
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

button{
  font-size: 100%;
  min-width: min-content;
  
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content{
    font-size: 100%;
    text-align: center;
}

.vivaldi-picture-in-picture-button {
  display: none;
}
.tp-section {
  align-items: flex-end;
}
.file-input {
  display: none;
}