

<div class="main">
  
   
    <mat-toolbar color="primary">
      <div fxShow="true" >
        <button mat-icon-button (click)="sidenav.toggle()" (click)="uploadVideos(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
  
      <a mat-button class="companyName" routerLink="/">
        <span>Videos</span>
      </a>
      <span class="example-spacer"></span>
      
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="example-container">
  
      <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false">
        <section class = "tp-section" fxLayoutAlign="end start" >
          
          <input type="file" class="file-input"
              (change)="onFileSelected($event)" #fileUpload>
          <button mat-icon-button (click)="fileUpload.click()">
              <!--{{fileName || "No file uploaded yet."}}-->
            <mat-icon>upload_file</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>drive_folder_upload</mat-icon>
          </button>
       </section>
       <div class="progress">

        <mat-progress-bar class="progress-bar" mode="determinate"
                          [value]="uploadProgress" *ngIf="uploadProgress">
      
        </mat-progress-bar>
      
        
      
      </div>
        <div #files fxLayout="column" >
          
        </div>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
        <p>Awesome content</p>
        <div class="video-main">
          <div class="videogular-container">
          
          <vg-player  (onPlayerReady)="invokePlaylist($event)" (change)="invokePlaylist($event)">
            <vg-overlay-play></vg-overlay-play>
            <vg-buffering></vg-buffering>
          
            <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>
          
            <vg-controls>
              <vg-play-pause></vg-play-pause>
              <vg-playback-button></vg-playback-button>
          
              <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
          
              
          
              <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
              <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
              <vg-mute vgProperty="right" ></vg-mute>
              <vg-volume vgProperty="right" ></vg-volume>
          
              <vg-fullscreen vgProperty="right"></vg-fullscreen>
             
            </vg-controls>
          
            <video  #media [vgMedia]="$any(media)" [src]="this.CurrentVidSrc" preload="auto" crossorigin>
            </video>
          </vg-player>
          
          </div>
          
          <div id="overlay">
            
            <canvas></canvas>
          </div>
         <!-- <ul class="video-list">
            <li *ngFor="let video of videoIPlaylist; let i = index" (click)="startPlayer(video, i)"
              [class.selected]="video === currentVid">
              {{ video.name }}
            </li>
          </ul>-->
          </div>
      </mat-sidenav-content>
    </mat-sidenav-container>


</div>